---
import Layout from '../layouts/Layout.astro';
import ProductosComponent from '../components/Productos.jsx'
---

<Layout
  title="MariPepa | Growshop & Cultura Cannábica"
  description="Parafernalia, autocultivo, vaporizadores, semillas y más."
>
  <section class="hero" data-aos="flip-down" >
	<canvas id="neblina" class="neblina-canvas"></canvas>
    <div class="hero-content">
	
      <h1 data-aos="fade-down">Bienvenido a MariPepa</h1>
      <p data-aos="fade" data-aos-delay="200">
        Growshop & Cultura Cannábica
      </p>
      <a
        href="/productos"
        class="cta-button"
        data-aos="zoom-in"
        data-aos-delay="400">Ver productos</a
      >
    </div>
  </section>

  <section class="destacados" data-aos="flip-up" >
    <h2 data-aos="zoom-in">Productos destacados</h2>
    <div class="productos-grid" data-aos="zoom-out">
      <ProductosComponent client:visible/>
    </div>
  </section>
</Layout>
