---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="MariPepa | Growshop & Cultura Cannábica"
  description="Parafernalia, autocultivo, vaporizadores, semillas y más."
>
  <section class="productos" data-aos="zoom-out">
    <h1>Nuestros productos</h1>
    <div class="productos-grid">
        <canvas id="neblina" class="neblina-canvas"></canvas>
      <div class="producto">
        <img src="/images/vaporizador.jpg" alt="Vaporizador portátil" />
        <h3>Vaporizador X1</h3>
        <p>Ideal para llevar. Sabor limpio y discreción garantizada.</p>
        <span class="precio">$200.000</span>
      </div>

      <div class="producto">
        <img src="/images/bong.jpg" alt="Bong artístico" />
        <h3>Bong de vidrio</h3>
        <p>Arte funcional para los amantes del humo fresco.</p>
        <span class="precio">$150.000</span>
      </div>

      <div class="producto">
        <img src="/images/semillas.jpg" alt="Semillas feminizadas" />
        <h3>Semillas premium</h3>
        <p>Alta germinación, genética 100% feminizada.</p>
        <span class="precio">$30.000</span>
      </div>

      <div class="producto">
        <img src="/images/fertilizante.jpg" alt="Fertilizante orgánico" />
        <h3>Fertilizante orgánico</h3>
        <p>Nutrición completa desde la raíz.</p>
        <span class="precio">$25.000</span>
      </div>

      <div class="producto">
        <img src="/images/iluminacion.jpg" alt="Kit de iluminación" />
        <h3>Kit de iluminación LED</h3>
        <p>Full espectro para cultivo indoor.</p>
        <span class="precio">$320.000</span>
      </div>
    </div>
  </section>
</Layout>
