---
import Layout from "../layouts/Layout.astro";
import ProductosComponent from "../components/Productos.jsx";
---

<Layout
  title="MariPepa | Growshop & Cultura Cannábica"
  description="Parafernalia, autocultivo, vaporizadores, semillas y más."
>
  <section class="productos" data-aos="zoom-out">
    <h1>Nuestros productos</h1>
    <div class="productos-grid">
        <ProductosComponent client:visible  />
      
    </div>
  </section>
</Layout>
