---
---

<nav class="navbar" data-aos="flip-down">
  <a href="/" class="logo">
    <img src="/logo.svg" alt="MariPepa Logo" width="180" height="40" />
  </a>

  <input type="checkbox" id="menu-toggle" class="menu-toggle" />
  <label for="menu-toggle" class="menu-icon">
    ☰
  </label>

  <ul class="nav-links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/sobre-nosotros">Nosotros</a></li>
    <li><a href="/productos">Productos</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li class="socials">
      <a href="https://instagram.com" target="_blank" class="glow-icon">IG</a>
      <a href="https://t.me" target="_blank" class="glow-icon">FB</a>
    </li>
  </ul>
</nav>
<div class="scroll-progress"></div>
